@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Muli:400,300);
.site-wrapper {
  letter-spacing: 2px;
}

.site-wrapper .cover-container {
  margin: 250px auto 100px auto;
}

.site-wrapper .cover-container .cover-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 3rem;
}

.site-wrapper .cover-container .btn-default {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 0;
}

.site-wrapper .nav .inner {
  padding: 0;
}

.site-wrapper .nav .inner .navbar {
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
}

.site-wrapper .nav .inner .navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.site-wrapper .nav .inner .navbar-default .navbar-nav {
  float: none;
}

.site-wrapper .nav .inner .navbar-default .navbar-nav > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  *zoom: 1;
  /* hasLayout ie7 trigger */
  vertical-align: top;
}

.site-wrapper .nav .inner .navbar-default .navbar-nav > li > a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #B92E2F;
}

.site-wrapper .section1 {
  color: #FFF;
  background-color: rgba(183, 73, 69, 0.8);
  width: 100%;
}

.site-wrapper .section1 .container {
  line-height: 2.5;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}

.site-wrapper .section1 .container h4 {
  width: 25%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #FFF;
  margin: 20px auto;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.site-wrapper .section1 .container p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.site-wrapper .section2 {
  color: #000;
  background-color: #FFF;
  width: 100%;
}

.site-wrapper .section2 .container {
  line-height: 2.5;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}

.site-wrapper .section2 .container h4 {
  width: 25%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #000;
  margin: 20px auto;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.site-wrapper .section2 .container p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.site-wrapper .section2 .container .col-sm-6, .site-wrapper .section2 .container .col-md-6, .site-wrapper .section2 .container .col-lg-6 {
  padding: 0;
}

.site-wrapper .section2 .container .col-sm-6 h6, .site-wrapper .section2 .container .col-md-6 h6, .site-wrapper .section2 .container .col-lg-6 h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
  margin: 20px;
}

.site-wrapper .section2 .container .col-sm-6 ul, .site-wrapper .section2 .container .col-md-6 ul, .site-wrapper .section2 .container .col-lg-6 ul {
  text-align: left;
}

.site-wrapper .section2 .container .col-sm-6 ul li, .site-wrapper .section2 .container .col-md-6 ul li, .site-wrapper .section2 .container .col-lg-6 ul li {
  font-size: 1.2rem;
  list-style: none;
}

.site-wrapper .section2 .container .col-sm-6 a, .site-wrapper .section2 .container .col-md-6 a, .site-wrapper .section2 .container .col-lg-6 a {
  font-size: 1.2rem;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  color: #B92E2F;
  padding: 10px 15px;
  border: 1px solid #B92E2F;
}

.site-wrapper .section2 .container .col-sm-6 .depto75, .site-wrapper .section2 .container .col-md-6 .depto75, .site-wrapper .section2 .container .col-lg-6 .depto75 {
  width: 100%;
  padding: 25px;
  background-color: #e2e1e1;
}

.site-wrapper .section2 .container .col-sm-6 .depto75 h5, .site-wrapper .section2 .container .col-md-6 .depto75 h5, .site-wrapper .section2 .container .col-lg-6 .depto75 h5 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 25px;
}

.site-wrapper .section2 .container .col-sm-6 .depto75 ul, .site-wrapper .section2 .container .col-md-6 .depto75 ul, .site-wrapper .section2 .container .col-lg-6 .depto75 ul {
  text-align: left;
  padding: 0;
}

.site-wrapper .section2 .container .col-sm-6 .depto75 ul li, .site-wrapper .section2 .container .col-md-6 .depto75 ul li, .site-wrapper .section2 .container .col-lg-6 .depto75 ul li {
  float: none;
  display: inline-block;
}

.site-wrapper .section3 {
  width: 100%;
  background: url(../img/fondosection3.jpg);
  color: #000;
}

.site-wrapper .section3 .container {
  line-height: 2.5;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}

.site-wrapper .section3 .container .col-md-12, .site-wrapper .section3 .container .col-md-12 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
}

.site-wrapper .section3 .container .col-md-12 img, .site-wrapper .section3 .container .col-md-12 img {
  margin: 0 auto;
}

.site-wrapper .section3 .container .col-md-12 a, .site-wrapper .section3 .container .col-md-12 a {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #000;
  padding: 10px 30px;
}

.site-wrapper .section4 {
  width: 100%;
  background-color: #F6F6F6;
  color: #000;
}

.site-wrapper .section4 .container {
  line-height: 2.5;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}

.site-wrapper .section4 .container h4 {
  width: 25%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #000;
  margin: 20px auto;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.site-wrapper footer {
  padding: 30px;
  width: 100%;
  background-color: #91262A;
}

.site-wrapper footer .col-md-6 {
  text-align: right;
  color: #FFF;
}

.site-wrapper footer .col-md-6 p {
  color: #FFF;
  margin: 0;
}
