@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Muli:400,300);
.site-wrapper {
  letter-spacing: 2px;
}

.site-wrapper .cover-container {
  margin: 300px auto 100px auto;
}

.site-wrapper .cover-container .cover-heading {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 3.5rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.site-wrapper .cover-container .lead {
  margin-top: 35px;
}

.site-wrapper .cover-container .btn-default {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 0;
  padding: 10px 35px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.site-wrapper .nav .inner {
  padding: 0;
}

.site-wrapper .nav .inner .navbar {
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
}

.site-wrapper .nav .inner .navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.site-wrapper .nav .inner .navbar-default .navbar-nav {
  float: none;
}

.site-wrapper .nav .inner .navbar-default .navbar-nav > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  *zoom: 1;
  /* hasLayout ie7 trigger */
  vertical-align: top;
}

.site-wrapper .nav .inner .navbar-default .navbar-nav > li > a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #B92E2F;
}

.site-wrapper .section1 {
  color: #FFF;
  background-color: rgba(183, 73, 69, 0.8);
  width: 100%;
}

.site-wrapper .section1 .container {
  line-height: 2.5;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .site-wrapper .section1 .container {
    font-size: 1.3rem;
  }
}

.site-wrapper .section1 .container h4 {
  width: 25%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #FFF;
  margin: 20px auto;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section1 .container h4 {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .site-wrapper .section1 .container h4 {
    width: 40%;
  }
}

.site-wrapper .section1 .container p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.site-wrapper .section2 {
  color: #000;
  background-color: #FFF;
  width: 100%;
}

.site-wrapper .section2 .container {
  line-height: 2.5;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}

.site-wrapper .section2 .container h4 {
  width: 25%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #000;
  margin: 20px auto;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section2 .container h4 {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .site-wrapper .section2 .container h4 {
    width: 40%;
  }
}

.site-wrapper .section2 .container p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.site-wrapper .section2 .container .col-sm-12, .site-wrapper .section2 .container .col-md-6, .site-wrapper .section2 .container .col-lg-6 {
  overflow: hidden;
  padding: 0;
}

.site-wrapper .section2 .container .col-sm-12 .container, .site-wrapper .section2 .container .col-md-6 .container, .site-wrapper .section2 .container .col-lg-6 .container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section2 .container .col-sm-12 .container, .site-wrapper .section2 .container .col-md-6 .container, .site-wrapper .section2 .container .col-lg-6 .container {
    flex-direction: column-reverse;
  }
}

.site-wrapper .section2 .container .col-sm-12 .carousel-inner .item img, .site-wrapper .section2 .container .col-md-6 .carousel-inner .item img, .site-wrapper .section2 .container .col-lg-6 .carousel-inner .item img {
  width: 100%;
}

.site-wrapper .section2 .container .col-sm-12 img.foto-75, .site-wrapper .section2 .container .col-md-6 img.foto-75, .site-wrapper .section2 .container .col-lg-6 img.foto-75 {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.site-wrapper .section2 .container .col-sm-12 img.foto-75:hover, .site-wrapper .section2 .container .col-md-6 img.foto-75:hover, .site-wrapper .section2 .container .col-lg-6 img.foto-75:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.site-wrapper .section2 .container .col-sm-12 .thumbnail, .site-wrapper .section2 .container .col-md-6 .thumbnail, .site-wrapper .section2 .container .col-lg-6 .thumbnail {
  border: 0;
}

.site-wrapper .section2 .container .col-sm-12 .captions, .site-wrapper .section2 .container .col-md-6 .captions, .site-wrapper .section2 .container .col-lg-6 .captions {
  position: absolute;
  top: 30%;
  left: 30%;
  margin: 0 auto;
  width: 40%;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section2 .container .col-sm-12 .captions, .site-wrapper .section2 .container .col-md-6 .captions, .site-wrapper .section2 .container .col-lg-6 .captions {
    top: 20%;
    left: 25%;
  }
}

.site-wrapper .section2 .container .col-sm-12 .captions h6, .site-wrapper .section2 .container .col-md-6 .captions h6, .site-wrapper .section2 .container .col-lg-6 .captions h6 {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section2 .container .col-sm-12 .captions h6, .site-wrapper .section2 .container .col-md-6 .captions h6, .site-wrapper .section2 .container .col-lg-6 .captions h6 {
    font-size: 1rem;
    margin-left: 0;
  }
}

.site-wrapper .section2 .container .col-sm-12 .captions h5, .site-wrapper .section2 .container .col-md-6 .captions h5, .site-wrapper .section2 .container .col-lg-6 .captions h5 {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 4rem;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section2 .container .col-sm-12 .captions h5, .site-wrapper .section2 .container .col-md-6 .captions h5, .site-wrapper .section2 .container .col-lg-6 .captions h5 {
    font-size: 2rem;
  }
}

.site-wrapper .section2 .container .col-sm-12 h6, .site-wrapper .section2 .container .col-md-6 h6, .site-wrapper .section2 .container .col-lg-6 h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
  margin: 20px;
}

.site-wrapper .section2 .container .col-sm-12 ul, .site-wrapper .section2 .container .col-md-6 ul, .site-wrapper .section2 .container .col-lg-6 ul {
  text-align: left;
}

.site-wrapper .section2 .container .col-sm-12 ul li, .site-wrapper .section2 .container .col-md-6 ul li, .site-wrapper .section2 .container .col-lg-6 ul li {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  list-style: none;
}

.site-wrapper .section2 .container .col-sm-12 ul li span, .site-wrapper .section2 .container .col-md-6 ul li span, .site-wrapper .section2 .container .col-lg-6 ul li span {
  margin-right: 5px;
}

.site-wrapper .section2 .container .col-sm-12 a#btn-ver, .site-wrapper .section2 .container .col-md-6 a#btn-ver, .site-wrapper .section2 .container .col-lg-6 a#btn-ver {
  font-size: 1.1rem;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  color: #B92E2F;
  padding: 8px 35px;
  border: 1px solid #B92E2F;
  border-radius: 0;
}

.site-wrapper .section2 .container .col-sm-12 a.btn, .site-wrapper .section2 .container .col-md-6 a.btn, .site-wrapper .section2 .container .col-lg-6 a.btn {
  font-size: 1.1rem;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  color: #B92E2F;
  padding: 8px 35px;
  border: 1px solid #B92E2F;
  border-radius: 0;
}

.site-wrapper .section2 .container .col-sm-12 .depto75, .site-wrapper .section2 .container .col-md-6 .depto75, .site-wrapper .section2 .container .col-lg-6 .depto75 {
  width: 100%;
  padding: 25px;
  background-color: #e2e1e1;
}

.site-wrapper .section2 .container .col-sm-12 .depto75 h5, .site-wrapper .section2 .container .col-md-6 .depto75 h5, .site-wrapper .section2 .container .col-lg-6 .depto75 h5 {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 25px;
}

.site-wrapper .section2 .container .col-sm-12 .depto75 ul, .site-wrapper .section2 .container .col-md-6 .depto75 ul, .site-wrapper .section2 .container .col-lg-6 .depto75 ul {
  text-align: left;
  padding: 0;
}

.site-wrapper .section2 .container .col-sm-12 .depto75 ul li, .site-wrapper .section2 .container .col-md-6 .depto75 ul li, .site-wrapper .section2 .container .col-lg-6 .depto75 ul li {
  float: none;
  display: inline-block;
}

.site-wrapper .section2 .container .col-sm-12 .depto75 ul li img, .site-wrapper .section2 .container .col-md-6 .depto75 ul li img, .site-wrapper .section2 .container .col-lg-6 .depto75 ul li img {
  width: 85%;
  filter: none;
}

.site-wrapper .section3 {
  width: 100%;
  background: url(../img/fondosection3.jpg);
  color: #000;
  z-index: 1;
  min-height: 400px;
  max-height: 450px;
}

.site-wrapper .section3 .container {
  line-height: 3;
  padding: 100px 0;
  margin: 0 auto;
  width: 70%;
  z-index: 999;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section3 .container {
    padding: 25px 0;
    line-height: 2.3;
    width: 90%;
  }
}

.site-wrapper .section3 .container .col-md-12, .site-wrapper .section3 .container .col-md-12 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
}

.site-wrapper .section3 .container .col-md-12 img, .site-wrapper .section3 .container .col-md-12 img {
  margin: 0 auto;
}

.site-wrapper .section3 .container .col-md-12 a, .site-wrapper .section3 .container .col-md-12 a {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #000;
  padding: 10px 30px;
}

.site-wrapper .section4 {
  width: 100%;
  background-color: #F6F6F6;
  color: #000;
}

.site-wrapper .section4 .container {
  line-height: 2.5;
  padding: 50px 0;
  margin: 0 auto;
  width: 70%;
}

.site-wrapper .section4 .container h4 {
  width: 25%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #000;
  margin: 20px auto;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper .section4 .container h4 {
    width: 90%;
  }
}

.site-wrapper footer.row {
  margin-left: 0;
  padding: 30px;
  width: 100%;
  background-color: #91262A;
}

.site-wrapper footer.row .col-md-6 {
  text-align: right;
  color: #FFF;
}

.site-wrapper footer.row .col-md-6 p {
  color: #FFF;
  margin: 0;
}

.site-wrapper footer.row .col-md-6 img {
  margin: 5px auto;
  float: left;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .site-wrapper footer.row .col-md-6 img {
    width: 100%;
  }
}

.contact-wrapper {
  background: url(../img/bg-contacto.jpg) center top no-repeat;
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.contact-wrapper .container {
  text-align: left;
}

.contact-wrapper .container h1 {
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 100px auto 120px auto;
  letter-spacing: 0.2em;
  text-decoration: underline;
}

.contact-wrapper .container input, .contact-wrapper .container textarea {
  font-family: "Raleway", sans-serif;
  display: block;
  margin-bottom: 20px;
  width: 80%;
  padding: 7px;
  border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .contact-wrapper .container input, .contact-wrapper .container textarea {
    width: 100%;
  }
}

.contact-wrapper .container p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.contact-wrapper .container .btn-block {
  width: auto;
}

.contact-wrapper .container .footer {
  margin-top: 50px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .contact-wrapper .container .footer {
    margin-top: 20px;
  }
}

.contact-wrapper .container .footer img {
  margin: 10px;
}

@media screen and (min-width: 320px) and (max-width: 460px) {
  .contact-wrapper .col-md-4 {
    margin-top: 20px;
  }
}

.enfoque {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
