// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600|Muli:400,300);
// Font Variables
$raleway:'Raleway', sans-serif; 
$muli: 'Muli', sans-serif;


.site-wrapper{
	letter-spacing: 2px;
	.cover-container{
		margin:250px auto 100px auto;
		.cover-heading{
			font-family: $raleway;
			font-weight: 400;
			line-height: 1.5;
			font-size: 3rem;
		}
		.btn-default{
			font-family: $muli;
			font-weight: 500;
			font-size: 1.5rem;
			color: #FFF;
			background-color: transparent;
			border: 1px solid #FFF;
			border-radius: 0;
		}
	}
	.nav{
		.inner{
			padding: 0;
			.navbar{
				border-radius: 0;
				text-align: center;
				margin-bottom: 0;
			}
			.navbar-default{
				background-color: rgba(255, 255, 255, 0.8);
				border:0;
				.navbar-nav{
					float: none;
					> li{
						float: none;
					  	display:inline-block;
					  	*display:inline; /* ie7 fix */
					  	*zoom:1; /* hasLayout ie7 trigger */
					  	vertical-align: top;
						> a{
						font-family: $raleway;
						font-weight: 500;
						color:#B92E2F;
						}
					}
				}
			}
		}
	}
	.section1{
		color: #FFF;
		background-color: rgba(183, 73, 69, 0.8);
		width: 100%;
		.container{
			line-height: 2.5;
			padding: 50px 0;
			margin:0 auto;
			width:70%;
			h4{
				width: 25%;
				padding: 0 0 10px 0;
				border-bottom: 1px solid #FFF;
				margin: 20px auto;
				font-family: $muli;
				font-weight: 400;
				text-transform: uppercase;
			}
			p{
				font-family: $raleway;
				font-weight: 500;
			}
		}
	}
	.section2{
		color: #000;
		background-color: #FFF;
		width: 100%;
		.container{
			line-height: 2.5;
			padding: 50px 0;
			margin:0 auto;
			width:70%;
			h4{
				width: 25%;
				padding: 0 0 10px 0;
				border-bottom: 1px solid #000;
				margin: 20px auto;
				font-family: $muli;
				font-weight: 400;
				text-transform: uppercase;
			}
			p{
				font-family: $raleway;
				font-weight: 500;
			}
		}
	}
}